@use "base";

main{
    display: flex;
    flex-direction: column;

    .title{
        font-size: 2.5em;
        color: base.$primary-color;
        text-align: center;
        margin-top: 1em;
    }

    .social-media-container{
        width: min(45em, 90%);
        margin: 2em auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 1em;

        img{
            width: 4em;
            margin-right: 1em;
        }

        a{
            text-decoration: none;
            width: 100%;
        }

        div{
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1em 2em;
        }

        h2{
            font-size: 2em;
        }

        .telegram-container{
            background-color: #30baee;
            color: #fff;
            transition: transform 0.3s, box-shadow 0.3s;
        }

        .instagram-container{
            background-color: #d94b76;
            color: #fff;
            transition: transform 0.3s, box-shadow 0.3s;
        }

        .tiktok-container{
            background-color: #212121;
            color: #fff;
            transition: transform 0.3s, box-shadow 0.3s;
        }

        .telegram-container:hover{
            transform: scale(1.02);
            box-shadow: 0 0px 20px #30baee;
        }

        .instagram-container:hover{
            transform: scale(1.02);
            box-shadow: 0 0 20px #d94b76;
        }

        .tiktok-container:hover{
            transform: scale(1.02);
            box-shadow: 0 0 20px #212121;
        }
    }
}

footer{
    display: flex;
    background-color: base.$primary-color;
    font-size: 1.5em;
    padding: 1.5em 0;
    justify-content: space-around;
    // animation
    animation: {
        name: footer-animation;
        duration: 1s;
        timing-function: ease-out;
    };

    div{
        display: flex;
        gap: 0.5em;
        animation: {
            name: div-animation;
            duration: 1s;
            timing-function: ease-out;
        };
        

        a{
        text-decoration: none;
        color: #000;
        }
    }
}


@media screen and (max-width: 480px){
    main{
        .title{
            font-size: 1.6em;
            margin-top: 0.5em;
        }

        .social-media-container{
            gap: 0.5em;
            margin-top: 1em;
    
            img{
                width: 2.5em;
            }
    
            div{
                border-radius: 5px;
                padding: 0.5em 1em;
            }
    
            h2{
                font-size: 1.2em;
            }

            .telegram-container:hover, .instagram-container:hover, .tiktok-container:hover{
                box-shadow: none;
                transform: scale(1);
            }
        }
    }

    footer{
        flex-direction: column;
        font-size: 1.2em;
        padding: 1.2em 0;
        justify-content: space-between;
        align-items: center;
        animation-name: none;

        div{
            animation-name: none;
        }
    }
}