@use "base";

main{
    .title{
        font-size: 2.5em;
        color: base.$primary-color;
        text-align: center;
        margin-top: 1em;
    }

    .reviews-container{
        display: grid;
        grid-template-areas: 
            "a b b"
            "a c c"
            "d d d"
        ;
        gap: 1em;
        margin: 2em;
        // animation
        animation: {
            name: floating-animation;
            duration: 1s;
            timing-function: ease-in-out;
        };

        .review-container{
            display: flex;
            gap: 1em;
            padding: 1em 2em;
            border-radius: 10px;
            box-shadow: 0px 0px 20px #1E1E1E;

            h1{
                font-size: 1.5em;
                margin-bottom: 1em;
            }

            p{
                font-size: 1.2em;
                text-align: justify;
            }
    
            .tutor-image{
                width: 5em;
                height: 5em;
                border-radius: 50%;
            }

        }
        .review-container:nth-child(1){
            grid-area: a;
        }

        .review-container:nth-child(2){
            grid-area: b;
        }

        .review-container:nth-child(3){
            grid-area: c;
        }

        .review-container:nth-child(4){
            grid-area: d;
        }
    } 

    
}

@media screen and (max-width: 480px){
    main{
        .title{
            font-size: 1.6em;
            margin-top: 0.5em;
        }

        .reviews-container{
            grid-template-areas: 
            "a"
            "b"
            "c"
            "d"
            ;
            gap: 1em;
            margin: 1em;

            .review-container{
                flex-direction: column;
                gap: 0.5em;
                padding: 0.5em 1em;

                h1{
                    font-size: 1.3em;
                    margin-bottom: 0.5em;
                }

                p{
                    font-size: 1em;
                }
            }
        }


    }
}