.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1E1E1E;
}
header .logo {
  width: 8em;
  margin-left: 3em;
}
header nav > ul {
  display: flex;
  align-items: center;
}
header nav > ul a {
  display: block;
  text-decoration: none;
  color: #DFAA0C;
  font-size: 150%;
  padding: 1.2em;
  transition: background-color 0.3s, color 0.3s;
}
header nav > ul a:hover {
  background-color: #DFAA0C;
  color: #1E1E1E;
}
header nav > ul a.active {
  background-color: #DFAA0C;
  color: #1E1E1E;
}
header nav li {
  list-style: none;
}
header nav li a {
  text-decoration: none;
  color: #DFAA0C;
}
header nav .menu {
  position: fixed;
  background-color: #1E1E1E;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(-100%);
  transition: transform 0.5s;
}
header nav .menu ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 30%;
  font-size: 2em;
  font-weight: bold;
}
header nav .menu.active {
  transform: translateY(0);
}

@keyframes moving-image {
  from {
    background-size: 130%;
  }
  to {
    background-size: 100%;
  }
}
@keyframes floating-animation {
  from {
    transform: translateY(5%);
    opacity: 0;
  }
}
@keyframes footer-animation {
  from {
    gap: 10em;
  }
  to {
    gap: 0;
  }
}
@keyframes div-animation {
  from {
    opacity: 0;
  }
}
@media screen and (max-width: 480px) {
  header .logo {
    width: 5em;
    margin-left: 1em;
  }
  header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    margin-right: 1em;
  }
  header nav > ul a:not(.active) {
    display: none;
  }
  header nav > ul a {
    font-size: 1.2em;
    padding: 1em 0;
  }
  header nav > ul a.active {
    background-color: #1E1E1E;
    color: #DFAA0C;
  }
  header nav .vertical-line {
    width: 3px;
    height: 2em;
    background-color: #DFAA0C;
    border-radius: 3px;
  }
  header nav .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 2.2em;
    height: 25px;
    cursor: pointer;
    z-index: 100;
  }
  header nav .hamburger .bar {
    width: 100%;
    height: 5px;
    border-radius: 3px;
    background-color: #DFAA0C;
    transition: transform 0.3s, opacity 0.3s;
  }
  header nav .hamburger.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-6px, 8px);
  }
  header nav .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  header nav .hamburger.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-6px, -8px);
  }
}
main {
  display: flex;
  flex-direction: column;
}
main .title {
  font-size: 2.5em;
  color: #DFAA0C;
  text-align: center;
  margin-top: 1em;
}
main form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 1em auto;
  width: 40em;
}
main form input, main form textarea {
  padding: 1em;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 1em;
}
main form textarea {
  font-size: 1.2em;
}
main form input[type=submit] {
  width: 8em;
  padding: 0.5em 0;
  font-size: 1.2em;
  font-weight: bold;
  color: #DFAA0C;
  background-color: #fff;
  transition: background-color 0.3s, color 0.3s;
}
main form input[type=submit]:hover {
  color: #fff;
  background-color: #DFAA0C;
  box-shadow: 0 0 10px #DFAA0C;
  cursor: pointer;
}

footer {
  display: flex;
  background-color: #DFAA0C;
  font-size: 1.5em;
  padding: 1.5em 0;
  justify-content: space-around;
  animation-name: footer-animation;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
footer div {
  display: flex;
  gap: 0.5em;
  animation-name: div-animation;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
footer div a {
  text-decoration: none;
  color: #000;
}

@media screen and (max-width: 480px) {
  main .title {
    font-size: 1.6em;
    margin-top: 0.5em;
  }
  main form {
    gap: 0.5em;
    width: 90%;
  }
  main form input, main form textarea {
    padding: 0.5em;
    font-size: 0.8em;
  }
  main form textarea {
    font-size: 1em;
  }
  main form input[type=submit] {
    width: 5em;
    padding: 0.3em 0;
    font-size: 1em;
  }
  footer {
    flex-direction: column;
    font-size: 1.2em;
    padding: 1.2em 0;
    justify-content: space-between;
    align-items: center;
    animation-name: none;
  }
  footer div {
    animation-name: none;
  }
}