@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1E1E1E;
}
header .logo {
  width: 8em;
  margin-left: 3em;
}
header nav > ul {
  display: flex;
  align-items: center;
  font-family: "Comfortaa", cursive;
}
header nav > ul a {
  display: block;
  text-decoration: none;
  color: #DFAA0C;
  font-size: 150%;
  padding: 1.2em;
  transition: background-color 0.3s, color 0.3s;
}
header nav > ul a:hover {
  background-color: #DFAA0C;
  color: #1E1E1E;
}
header nav > ul a.active {
  background-color: #DFAA0C;
  color: #1E1E1E;
}
header nav li {
  list-style: none;
}
header nav li a {
  text-decoration: none;
  color: #DFAA0C;
}
header nav .menu {
  position: fixed;
  background-color: #1E1E1E;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateX(100%);
  transition: transform 0.5s;
}
header nav .menu ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 30%;
  font-size: 2em;
  font-weight: bold;
}
header nav .menu.active {
  transform: translateX(0);
}

@keyframes moving-image {
  from {
    background-size: 130%;
  }
  to {
    background-size: 100%;
  }
}
@keyframes floating-animation {
  from {
    transform: translateY(5%);
    opacity: 0;
  }
}
@keyframes footer-animation {
  from {
    gap: 10em;
  }
  to {
    gap: 0;
  }
}
@keyframes div-animation {
  from {
    opacity: 0;
  }
}
@media screen and (max-width: 480px) {
  header .logo {
    width: 5em;
    margin-left: 1em;
  }
  header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    margin-right: 1em;
  }
  header nav > ul a:not(.active) {
    display: none;
  }
  header nav > ul a {
    font-size: 1.2em;
    padding: 1em 0;
  }
  header nav > ul a.active {
    background-color: #1E1E1E;
    color: #DFAA0C;
  }
  header nav .vertical-line {
    width: 3px;
    height: 2em;
    background-color: #DFAA0C;
    border-radius: 3px;
  }
  header nav .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 2.2em;
    height: 25px;
    cursor: pointer;
    z-index: 100;
  }
  header nav .hamburger .bar {
    width: 100%;
    height: 5px;
    border-radius: 3px;
    background-color: #DFAA0C;
    transition: transform 0.3s, opacity 0.3s;
  }
  header nav .hamburger.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-6px, 8px);
  }
  header nav .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  header nav .hamburger.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-6px, -8px);
  }
}
main {
  height: 100%;
  background-image: url("/images/bg-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation-name: moving-image;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}
main .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(30, 30, 30, 0.6);
  z-index: -1;
}
main .container {
  margin-left: 10em;
  max-width: 80%;
  line-height: 1.2;
}
main .container h1, main .container h2, main .container p {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
main .container h2, main .container p {
  color: #fff;
}
main .container h2 {
  font-size: 2.5em;
}
main .container p {
  font-size: 1.5em;
}
main .container h1 {
  color: #DFAA0C;
  font-size: 4em;
  margin-bottom: 0.3em;
  font-family: "Comfortaa", cursive;
}

@media screen and (max-width: 480px) {
  main {
    animation-name: none;
  }
  main .container {
    margin: 0 auto;
  }
  main .container h2 {
    font-size: 1em;
  }
  main .container p {
    font-size: 1em;
  }
  main .container h1 {
    font-size: 2.2em;
  }
}